/* Variables */
$mediumBreakpoint: 'md';
$smallBreakpoint: 'sm';
$extraSmallBreakpoint: 'xs';

/* Grid container */
.row {
  display: inline-block;
  width: 100%
}

/* Grid items */
@include media-breakpoint() { // Large screen
  @for $i from 1 through 12 {
    .col-#{$i} {
      float: left;
      width: calc( 100% / 12 * #{$i});
    }
  }
}
@include media-breakpoint($mediumBreakpoint) { // Medium screen
  @for $i from 1 through 12 {
    .col-#{$mediumBreakpoint}-#{$i} {
      float: left;
      width: calc( 100% / 12 * #{$i});
    }
  }
}
@include media-breakpoint($smallBreakpoint) { // Small screen
  @for $i from 1 through 12 {
    .col-#{$smallBreakpoint}-#{$i} {
      float: left;
      width: calc( 100% / 12 * #{$i});
    }
  }
}

@include media-breakpoint($extraSmallBreakpoint) { // Small screen
  @for $i from 1 through 12 {
    .col-#{$extraSmallBreakpoint}-#{$i} {
      float: left;
      width: calc( 100% / 12 * #{$i});
    }
  }
}

