.text-middle {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.card-text {
  width: 50%;
  color: rgba(74, 74, 74, 0.7);
  font-size: 1.2em;
  line-height: 1.5em;
  padding: 20px;
  margin: 0 auto;
  font-family: 'Open Sans', sans-serif;
}

.inline-menu {
  li {
    display: inline-block;
    padding: 4px 12px;
  }
}


