/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* Added classes */
* {
  box-sizing: border-box; }

/* Variables */
/* Grid container */
.row {
  display: inline-block;
  width: 100%; }

/* Grid items */
@media only screen and (min-width: 1024px) {
  .col-1 {
    float: left !important;
    width: calc( 100% / 12 * 1) !important;
    margin: 0 !important; }

  .col-2 {
    float: left !important;
    width: calc( 100% / 12 * 2) !important;
    margin: 0 !important; }

  .col-3 {
    float: left !important;
    width: calc( 100% / 12 * 3) !important;
    margin: 0 !important; }

  .col-4 {
    float: left !important;
    width: calc( 100% / 12 * 4) !important;
    margin: 0 !important; }

  .col-5 {
    float: left !important;
    width: calc( 100% / 12 * 5) !important;
    margin: 0 !important; }

  .col-6 {
    float: left !important;
    width: calc( 100% / 12 * 6) !important;
    margin: 0 !important; }

  .col-7 {
    float: left !important;
    width: calc( 100% / 12 * 7) !important;
    margin: 0 !important; }

  .col-8 {
    float: left !important;
    width: calc( 100% / 12 * 8) !important;
    margin: 0 !important; }

  .col-9 {
    float: left !important;
    width: calc( 100% / 12 * 9) !important;
    margin: 0 !important; }

  .col-10 {
    float: left !important;
    width: calc( 100% / 12 * 10) !important;
    margin: 0 !important; }

  .col-11 {
    float: left !important;
    width: calc( 100% / 12 * 11) !important;
    margin: 0 !important; }

  .col-12 {
    float: left !important;
    width: calc( 100% / 12 * 12) !important;
    margin: 0 !important; } }
@media only screen and (min-width: 720px) and (max-width: 1023px) {
  .col-md-1 {
    float: left !important;
    width: calc( 100% / 12 * 1) !important;
    margin: 0 !important; }

  .col-md-2 {
    float: left !important;
    width: calc( 100% / 12 * 2) !important;
    margin: 0 !important; }

  .col-md-3 {
    float: left !important;
    width: calc( 100% / 12 * 3) !important;
    margin: 0 !important; }

  .col-md-4 {
    float: left !important;
    width: calc( 100% / 12 * 4) !important;
    margin: 0 !important; }

  .col-md-5 {
    float: left !important;
    width: calc( 100% / 12 * 5) !important;
    margin: 0 !important; }

  .col-md-6 {
    float: left !important;
    width: calc( 100% / 12 * 6) !important;
    margin: 0 !important; }

  .col-md-7 {
    float: left !important;
    width: calc( 100% / 12 * 7) !important;
    margin: 0 !important; }

  .col-md-8 {
    float: left !important;
    width: calc( 100% / 12 * 8) !important;
    margin: 0 !important; }

  .col-md-9 {
    float: left !important;
    width: calc( 100% / 12 * 9) !important;
    margin: 0 !important; }

  .col-md-10 {
    float: left !important;
    width: calc( 100% / 12 * 10) !important;
    margin: 0 !important; }

  .col-md-11 {
    float: left !important;
    width: calc( 100% / 12 * 11) !important;
    margin: 0 !important; }

  .col-md-12 {
    float: left !important;
    width: calc( 100% / 12 * 12) !important;
    margin: 0 !important; } }
@media only screen and (min-width: 480) and (max-width: 719px) {
  .col-sm-1 {
    float: left !important;
    width: calc( 100% / 12 * 1) !important;
    margin: 0 !important; }

  .col-sm-2 {
    float: left !important;
    width: calc( 100% / 12 * 2) !important;
    margin: 0 !important; }

  .col-sm-3 {
    float: left !important;
    width: calc( 100% / 12 * 3) !important;
    margin: 0 !important; }

  .col-sm-4 {
    float: left !important;
    width: calc( 100% / 12 * 4) !important;
    margin: 0 !important; }

  .col-sm-5 {
    float: left !important;
    width: calc( 100% / 12 * 5) !important;
    margin: 0 !important; }

  .col-sm-6 {
    float: left !important;
    width: calc( 100% / 12 * 6) !important;
    margin: 0 !important; }

  .col-sm-7 {
    float: left !important;
    width: calc( 100% / 12 * 7) !important;
    margin: 0 !important; }

  .col-sm-8 {
    float: left !important;
    width: calc( 100% / 12 * 8) !important;
    margin: 0 !important; }

  .col-sm-9 {
    float: left !important;
    width: calc( 100% / 12 * 9) !important;
    margin: 0 !important; }

  .col-sm-10 {
    float: left !important;
    width: calc( 100% / 12 * 10) !important;
    margin: 0 !important; }

  .col-sm-11 {
    float: left !important;
    width: calc( 100% / 12 * 11) !important;
    margin: 0 !important; }

  .col-sm-12 {
    float: left !important;
    width: calc( 100% / 12 * 12) !important;
    margin: 0 !important; } }
@media only screen and (min-width: 0) and (max-width: 479px) {
  .col-xs-1 {
    float: left !important;
    width: calc( 100% / 12 * 1) !important;
    margin: 0 !important; }

  .col-xs-2 {
    float: left !important;
    width: calc( 100% / 12 * 2) !important;
    margin: 0 !important; }

  .col-xs-3 {
    float: left !important;
    width: calc( 100% / 12 * 3) !important;
    margin: 0 !important; }

  .col-xs-4 {
    float: left !important;
    width: calc( 100% / 12 * 4) !important;
    margin: 0 !important; }

  .col-xs-5 {
    float: left !important;
    width: calc( 100% / 12 * 5) !important;
    margin: 0 !important; }

  .col-xs-6 {
    float: left !important;
    width: calc( 100% / 12 * 6) !important;
    margin: 0 !important; }

  .col-xs-7 {
    float: left !important;
    width: calc( 100% / 12 * 7) !important;
    margin: 0 !important; }

  .col-xs-8 {
    float: left !important;
    width: calc( 100% / 12 * 8) !important;
    margin: 0 !important; }

  .col-xs-9 {
    float: left !important;
    width: calc( 100% / 12 * 9) !important;
    margin: 0 !important; }

  .col-xs-10 {
    float: left !important;
    width: calc( 100% / 12 * 10) !important;
    margin: 0 !important; }

  .col-xs-11 {
    float: left !important;
    width: calc( 100% / 12 * 11) !important;
    margin: 0 !important; }

  .col-xs-12 {
    float: left !important;
    width: calc( 100% / 12 * 12) !important;
    margin: 0 !important; } }
@media only screen and (min-width: 1024px) {
  .col-xs-1 {
    float: left !important;
    width: calc( 100% / 12 * 1) !important;
    margin: 0 !important; }

  .col-xs-2 {
    float: left !important;
    width: calc( 100% / 12 * 2) !important;
    margin: 0 !important; }

  .col-xs-3 {
    float: left !important;
    width: calc( 100% / 12 * 3) !important;
    margin: 0 !important; }

  .col-xs-4 {
    float: left !important;
    width: calc( 100% / 12 * 4) !important;
    margin: 0 !important; }

  .col-xs-5 {
    float: left !important;
    width: calc( 100% / 12 * 5) !important;
    margin: 0 !important; }

  .col-xs-6 {
    float: left !important;
    width: calc( 100% / 12 * 6) !important;
    margin: 0 !important; }

  .col-xs-7 {
    float: left !important;
    width: calc( 100% / 12 * 7) !important;
    margin: 0 !important; }

  .col-xs-8 {
    float: left !important;
    width: calc( 100% / 12 * 8) !important;
    margin: 0 !important; }

  .col-xs-9 {
    float: left !important;
    width: calc( 100% / 12 * 9) !important;
    margin: 0 !important; }

  .col-xs-10 {
    float: left !important;
    width: calc( 100% / 12 * 10) !important;
    margin: 0 !important; }

  .col-xs-11 {
    float: left !important;
    width: calc( 100% / 12 * 11) !important;
    margin: 0 !important; }

  .col-xs-12 {
    float: left !important;
    width: calc( 100% / 12 * 12) !important;
    margin: 0 !important; } }
.m-auto {
  margin: 0 auto; }

.mt-1 {
  margin-top: 0.25rem; }

.mt-2 {
  margin-top: 0.5rem; }

.mt-3 {
  margin-top: 1rem; }

.mt-4 {
  margin-top: 1.5rem; }

.mt-5 {
  margin-top: 3rem; }

.mt-auto {
  margin-top: auto; }

.mr-1 {
  margin-right: 0.25rem; }

.mr-2 {
  margin-right: 0.5rem; }

.mr-3 {
  margin-right: 1rem; }

.mr-4 {
  margin-right: 1.5rem; }

.mr-5 {
  margin-right: 3rem; }

.mr-auto {
  margin-right: auto; }

.mb-1 {
  margin-bottom: 0.25rem; }

.mb-2 {
  margin-bottom: 0.5rem; }

.mb-3 {
  margin-bottom: 1rem; }

.mb-4 {
  margin-bottom: 1.5rem; }

.mb-5 {
  margin-bottom: 3rem; }

.mb-auto {
  margin-bottom: auto; }

.ml-1 {
  padding-left: 0.25rem; }

.ml-2 {
  padding-left: 0.5rem; }

.ml-3 {
  padding-left: 1rem; }

.ml-4 {
  padding-left: 1.5rem; }

.ml-5 {
  padding-left: 3rem; }

.ml-auto {
  padding-left: auto; }

.mx-0 {
  margin-right: 0;
  margin-left: 0; }

.mx-1 {
  margin-right: 0.25rem;
  margin-left: 0.25rem; }

.mx-2 {
  margin-right: 0.5rem;
  margin-left: 0.5rem; }

.mx-3 {
  margin-right: 1rem;
  margin-left: 1rem; }

.mx-4 {
  margin-right: 1.5rem;
  margin-left: 1.5rem; }

.mx-5 {
  margin-right: 3rem;
  margin-left: 3rem; }

.mx-auto {
  margin-right: auto;
  margin-left: auto; }

.my-0 {
  margin-top: 0;
  margin-bottom: 0; }

.my-1 {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem; }

.my-2 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem; }

.my-3 {
  margin-top: 1rem;
  margin-bottom: 1rem; }

.my-4 {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem; }

.my-5 {
  margin-top: 3rem;
  margin-bottom: 3rem; }

.my-auto {
  margin-top: auto;
  margin-bottom: auto; }

.pt-1 {
  padding-top: 0.25rem; }

.pt-2 {
  padding-top: 0.5rem; }

.pt-3 {
  padding-top: 1rem; }

.pt-4 {
  padding-top: 1.5rem; }

.pt-5 {
  padding-top: 3rem; }

.pt-auto {
  padding-top: auto; }

.pr-1 {
  padding-right: 0.25rem; }

.pr-2 {
  padding-right: 0.5rem; }

.pr-3 {
  padding-right: 1rem; }

.pr-4 {
  padding-right: 1.5rem; }

.pr-5 {
  padding-right: 3rem; }

.pr-auto {
  padding-right: auto; }

.pb-1 {
  padding-bottom: 0.25rem; }

.pb-2 {
  padding-bottom: 0.5rem; }

.pb-3 {
  padding-bottom: 1rem; }

.pb-4 {
  padding-bottom: 1.5rem; }

.pb-5 {
  padding-bottom: 3rem; }

.pb-auto {
  padding-bottom: auto; }

.pl-1 {
  padding-left: 0.25rem; }

.pl-2 {
  padding-left: 0.5rem; }

.pl-3 {
  padding-left: 1rem; }

.pl-4 {
  padding-left: 1.5rem; }

.pl-5 {
  padding-left: 3rem; }

.pl-auto {
  padding-left: auto; }

.px-1 {
  padding-right: 0.25rem;
  padding-left: 0.25rem; }

.px-2 {
  padding-right: 0.5rem;
  padding-left: 0.5rem; }

.px-3 {
  padding-right: 1rem;
  padding-left: 1rem; }

.px-4 {
  padding-right: 1.5rem;
  padding-left: 1.5rem; }

.px-5 {
  padding-right: 3rem;
  padding-left: 3rem; }

.px-auto {
  padding-right: auto;
  padding-left: auto; }

.py-1 {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem; }

.py-2 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem; }

.py-3 {
  padding-top: 1rem;
  padding-bottom: 1rem; }

.py-4 {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem; }

.py-5 {
  padding-top: 3rem;
  padding-bottom: 3rem; }

.py-auto {
  padding-top: auto;
  padding-bottom: auto; }

/* Flex */
.flex {
  display: flex; }

.flex-justify-center {
  justify-content: center; }

.flex-justify-between {
  justify-content: space-between; }

.flex-justify-around {
  justify-content: space-around; }

@media only screen and (min-width: 1024px) {
  .hide {
    display: none !important; } }
@media only screen and (min-width: 720px) and (max-width: 1023px) {
  .hide-md {
    display: none !important; } }
@media only screen and (min-width: 480) and (max-width: 719px) {
  .hide-sm {
    display: none !important; } }
@media only screen and (min-width: 0) and (max-width: 479px) {
  .hide-xs {
    display: none !important; } }
@media only screen and (min-width: 1024px) {
  .hide-xs {
    display: none !important; } }
.button-blue {
  padding: 16px 56px;
  color: #fff;
  background-color: #6abfc3;
  font-size: 16px;
  border-radius: 5px;
  margin: 10px 0 20px 0; }

.card-title {
  display: block;
  color: var(--black);
  font-weight: bold;
  margin: 5px;
  font-size: 1.2em;
  text-align: center; }

.card-text {
  display: block;
  color: var(--grey);
  line-height: 1.5em;
  font-size: 1.1em; }

.card {
  width: auto;
  padding: 40px;
  margin: 5px auto;
  background-color: #fff; }

.card-img {
  width: fit-content;
  margin: 0 auto; }
  .card-img img {
    height: 150px; }

:root {
  --gold: #c7973c;
  --grey: rgba(74, 74, 74, 0.7);
  --white: #f3f3f3;
  --black: #4a4a4a; }

.text-middle {
  text-align: center; }

.text-left {
  text-align: left; }

.text-right {
  text-align: right; }

.card-text {
  width: 50%;
  color: rgba(74, 74, 74, 0.7);
  font-size: 1.2em;
  line-height: 1.5em;
  padding: 20px;
  font-family: 'Open Sans', sans-serif; }

/*# sourceMappingURL=framework.css.map */
