body {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

@font-face {
  font-family: Norse;
  src: url("../../public/fonts/Norse-Bold.otf") format("opentype");
}

header nav {
  display: flex;
  justify-content: center;
  padding-top: 12px;
}

header nav div.brand {
  display: flex;
  align-items: center;
  width: auto;
}

header nav div.brand img {
  height: 60px;
}

header nav div.brand span {
  font-family: Norse;
  color: #cc9543;
  text-transform: uppercase;
  font-family: "Norse";
  letter-spacing: 0.4px;
  font-weight: bold;
  font-size: 32px;
  padding-left: 0.5em;
  margin-right: 24px;
}

header nav div.links {
  display: flex;
  align-items: center;
  font-size: 16px;
}

header nav div.links a {
  color: rgba(74,74,74,0.7);
  text-decoration: none;
  letter-spacing: 0.2px;
  font-size: 1em;
  font-weight: bold;
  padding: 8px;
}

header nav div.menu {
  display: flex;
  align-items: center;
}

header nav div.menu img {
  height: 28px;
}

/* STORIES  */


/* CTA  */

.cta {
  text-align: center;
  background-color: #eee;
  font-weight: lighter;
  padding: 80px 40px;
}

.cta > h1 {
  font-size: 36px;
  color: rgba(74, 74, 74, 0.7);
  padding-bottom: 40px;
}

.cta > button {
  padding: 16px 56px;
  color: #fff;
  background-color: #6abfc3;
  font-size: 16px;
  border-radius: 5px;
}


/*  FOOTER   */

footer {
  padding: 80px 20px;
  background-color: #fff;
}

.footer-logo-container {
  height: auto;
  text-align: center;
}

.footer-logo {
  width: 240px;
  margin: 0 auto;
}

.social-media-icons a {
  color: #ce973e;
}

.social-media-icons {
  text-align: center;
  font-size: 26px;
  margin-top: 20px;
}

.social-media-icons li {
  display: inline;
  padding: 20px;
}

.footer-third {
  text-align: center;
}

.footer-links {
  display: inline-block;
  text-align: center;
  padding: 20px;
  line-height: 1.4em;
}

.footer-links a {
  text-decoration: none;
  color: rgba(74, 74, 74, 0.7);
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
}