:root {
  --gold: #c7973c;
  --grey: rgba(74, 74, 74, 0.7);
  --white: #f3f3f3;
  --black: #4a4a4a;
}

body {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

@font-face {
  font-family: "Norse";
  src: url("../../public/fonts/Norse-Bold.otf") format("opentype");
}

.section-title {
  margin: 0 auto;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  padding: 70px 0 70px 0;
  color: var(--black);
}

.section-body {
  padding: 40px 0 50px 0;
}

.card-title {
  color: var(--black);
  font-weight: bold;
}

.caption {
  margin-top: -40px;
  width: 50%;
  color: var(--grey);
  font-size: 1.2em;
  line-height: 1.5em;
  padding-bottom: 20px;
}

header nav {
  display: flex;
  justify-content: center;
  padding: 12px 36px;
}

header nav div.brand {
  display: flex;
  align-items: center;
  width: auto;
}

header nav div.brand img {
  height: 50px;
}

header nav div.brand span {
  font-family: "Norse", sans-serif;
  color: #cc9543;
  text-transform: uppercase;
  letter-spacing: 0.4px;
  font-weight: bold;
  font-size: 28px;
  padding-left: 0.5em;
  margin-right: 24px;
}

header nav div.links {
  display: flex;
  align-items: center;
  font-size: 16px;
}

header nav div.links a {
  color: var(--grey);
  text-decoration: none;
  letter-spacing: 0.2px;
  font-size: 14px;
  font-weight: bold;
  padding: 8px;
}

header nav div.menu {
  display: flex;
  align-items: center;
  flex: 1;
  justify-content: flex-end;
}

header nav div.menu img {
  height: 28px;
}

/* JUMBOTRON */

.jumbotron {
  padding: 90px 0;
  text-align: center;
}

.jumbotron-title h1 {
  margin-top: -30px;
  font-size: 2em;
  color: var(--gold);
}

/* HOW IT WORKS */
.how-it-works {
  margin-top: -130px;
}

.how-it-works > .row,
.how-it-works-img {
  text-align: center;
  margin: 0 auto;
}

.how-it-works-text-wrap p {
  margin: 0 auto;
  text-align: center;
  width: 90%;
}

/* LEARN  */
.learn {
  background-color: var(--white);
  padding-bottom: 40px;
}

.learn > .row {
  padding: 0 2em;
}

.learn-child {
  margin: 0 auto;
  padding: 50px;
  margin-bottom: 20px;
  background-color: #fff;
}

section.learn .learn-img {
  width: fit-content;
}

section.learn .learn-img img {
  height: 150px;
}

/* STORIES  */

.stories {
  text-align: center;
  padding-left: 100px;
  background-color: rgba(248, 248, 248, 0.726);
  width: 100%;
}

.stories .row img.story-img {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 50%;
  display: inline-block;
}

.stories-name {
  color: var(--gold);
}

.stories-name,
.stories-text {
  text-align: left;
  line-height: 29px;
}

.stories-text-wrapper {
  display: inline-block;
  margin: 0 auto;
  width: 80%;
  padding-left: 10px;
  padding-bottom: 60px;
  font-size: 1.1em;
  color: var(--grey);
}

/* CTA  */

.cta {
  text-align: center;
  background-color: #eee;
  font-weight: lighter;
  padding: 80px 40px;
}

.cta > h1 {
  font-size: 36px;
  color: var(--grey);
  padding-bottom: 40px;
}

/*  FOOTER   */

footer {
  padding: 80px 20px;
  background-color: #fff;
}

.footer-logo-container {
  height: auto;
  text-align: center;
}

.footer-logo {
  width: 240px;
  margin: 0 auto;
}

footer .row .social-media-icons a {
  color: var(--gold);
}

.social-media-icons {
  text-align: center;
  font-size: 26px;
  margin-top: 20px;
}

.social-media-icons li {
  display: inline;
  padding: 15px;
}

.footer-third {
  text-align: center;
}

.footer-links {
  display: inline-block;
  text-align: center;
  padding: 4px;
  line-height: 1.4em;
}

footer .footer-third .footer-links a {
  text-decoration: none;
  color: var(--grey);
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
}
